<form action="/todos" method="POST">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">todo:</span>
    </div>

    <input class="form-control" type="text" name="name" required>

    <div class="input-group-append">
      <button class="btn btn-primary">create</button>
    </div>
  </div>
</form>
<a class="btn btn-success btn-sm float-right" href="/">cancel</a>